ion-text {
    font-size: 11px;
}

.fab {
    display: flex;
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 100px;
    width: 45px;
    height: 45px;
    background: #0ca7d6;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

table {
    width: 100%;
    border-collapse: collapse;

    thead {
        background: whitesmoke;
        color: lighten(black, 5%);
    }

    tbody {
        background: white;
        color: lighten(black, 5%);
    }

    th,
    td {
        text-align: center;
    }
}

.popup {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 9999;
    height: 100vh;
    width: 100vw;
    top: 0px;
    background: white;

    &.with-backdrop {
        background: rgba(0, 0, 0, 0.45);
        z-index: 99999;
        justify-content: center;
        align-items: center;

        .popup-wrapper {
            width: 80vw;
            height: 50vh;
        }

        .popup-body {
            background: white;
        }
    }

    .category-list {
        display: inline-flex;
        width: 100vw;
        background: darken(#0ca7d6, 5%);
        overflow: scroll;
        white-space: nowrap;

        .category-item {
            padding: 5px;
            color: white;
            font-size: 17px;
        }
    }

    .popup-header {
        background: #0ca7d6;
        color: white;
        padding: 10px;
        display: flex;
        justify-content: space-between;

        .btn-close {
            justify-content: center;
            align-items: center;
            display: flex;

            ion-icon {
                font-size: 25px;
            }
        }
    }

    .popup-body {
        padding: 10px;
    }
}



@for $i from 0 to 11 {
    .p-#{$i} {
        padding: #{$i}px;
    }

    .py-#{$i} {
        padding-top: #{$i}px !important;
        padding-bottom: #{$i}px !important;
    }
}

ion-input {
    background: whitesmoke;
    border-radius: 5px;
    --padding-start: 10px;
}

ion-select {
    background: whitesmoke;
    border-radius: 5px;
}