<ion-card class="ion-padding">
  <ion-list class="list-input">
    <ion-item>
      <ion-input type="text" placeholder="Masukan nomor faktur" [(ngModel)]="query"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="searchFaktur()">
    Cari Faktur
  </ion-button>
</ion-card>

<ion-card class="ion-padding" *ngIf="detailOrder.pembayaran">
  <ion-list>
    <ion-item>
      <ion-label>Pembayaran</ion-label>
      <ion-label>{{(detailOrder.pembayaran == 1)?"TUNAI":"KREDIT"}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Pembeli
      </ion-label>
      <ion-label>
        {{(detailOrder.nama_kustomer)?detailOrder.nama_kustomer:detailOrder.bukan_member}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Alamat
        <p>{{detailOrder.alamat_pembeli}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Tanggal Order</ion-label>
      <ion-label>{{detailOrder.tgl_order}} {{detailOrder.jam_order}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Nominal</ion-label>
      <ion-label>{{detailOrder.nominal}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Jumlah Bayar</ion-label>
      <ion-label>{{detailOrder.nominal}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Kembalian</ion-label>
      <ion-label>{{detailOrder.nominal}}</ion-label>
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <h4 class="font-weight-bold">Detail Barang</h4>
  </div>
  <ion-list>
    <ion-item *ngFor="let item of detailOrder.detail_order">
      <ion-label>
        <ion-label class="font-weight-bold">{{item.nama_produk}}</ion-label>
        <ion-label class="d-flex ion-justify-content-between">
          <ion-label>Jumlah</ion-label>
          <ion-label>{{item.jumlah}}</ion-label>
        </ion-label>
        <ion-label class="d-flex ion-justify-content-between">
          <ion-label>Subtotal</ion-label>
          <ion-label>{{item.subtotal|rupiah}}</ion-label>
        </ion-label>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-button color="danger" (click)="createRetur()" expand="block">RETUR PENJUALAN</ion-button>
</ion-card>
<ion-card class="ion-padding ion-text-center" *ngIf="!detailOrder.pembayaran">
  <ion-icon name="cart"></ion-icon>
  <ion-label>Silahkan cari faktur terlebih dahulu</ion-label>
</ion-card>