<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <app-title title="Kategori Produk" searchPlaceholder="Cari kategori produk" (onSearchChange)="onSearch($event)">
    </app-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="full">
      <ion-label class="font-weight-bold" style="flex:1">
        Kode
      </ion-label>
      <ion-label class="font-weight-bold" style="flex:4">
        Kategori
      </ion-label>
    </ion-item>
    <ion-item *ngFor="let item of dataKategori" (click)="openDetail(item)">
      <ion-label style="flex:1">{{item.id_kategori_2}}</ion-label>
      <ion-label style="flex:4">{{item.nama_kategori}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/form-kategori-produk">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>