
ion-toolbar {
    padding-bottom:10px;
}
.toolbar {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    position: absolute;
}

.logo {
    height: 35px;
    width: 75px;
}
.profile {
    height: 50px;
    margin-top: 10px;
    img {
        height: 100%;
        width: 50px;
        border-radius: 10px;
    }
}
.title {
    font-weight: 800;
    color:#626262;
    font-size: 15px;
}
.header {
    background: url('/assets/svg/background-fame.svg');
    height:215px;
}
.container {
    background: white;
    height:100%;
    display: flex;
    flex-direction: column;
    .header {
        display: flex;
        min-height: 200px;
        .greeting {
            align-self: center;
            margin-bottom: 20px;
            ion-label {
                color: white;
            }
            h3 {
                margin: 0px;
                font-weight: 800;
                color: white;
            }
        }
    }
    .wrapper {
        margin-top:-30px;
        background:white;
        flex:1;
        border-radius: 30px 30px 0px 0px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35);
        .menu {
            ion-img {
                width:65px;
                &.poped-up {
                    width: 73px;
                    margin-top: -10px;
                }
            }
            ion-label {
                font-style: normal;
                font-weight: 600;
                font-size: 8px;
                line-height: 11px;
            }
        }
    }
}

.transparent {
    --background: transparent;
    --ion-background-color: transparent;
    --background-color: transparent;
    --ion-color-base: transparent;
    --color: #fff;
    background: transparent;
    background-color: transparent;
    position: fixed;
    box-shadow: 0px 0px 0px 0px #ccc;
    --padding-start: 0px;
    --padding-end: 0px;

    &.ion-color-success {
        i.icon {
            background: white !important;
        }
    }

    .icon-menu {}

    ion-searchbar {
        padding-top: 5px;
        padding-bottom: 5px;
        height: 43px;
    }

    ion-searchbar.ch {
        // --background: #ddd;
    }

    &.sticky {
        position: sticky;
        top: 0px;
    }
}

.winner {
    display: flex;
    width: 100%;
    align-items: center;
    .pic {
        position: relative;
        .profile {
            height: 55px;
            width: 55px;
        }
        .badge {
            position: absolute;
            top: 40px;
            right: -10px;
        }
    }
    .body {
        margin-left: 20px;
        margin-top: 10px;
        .top {
            font-size: 20px;
            font-weight: 800;
            color: #202020!important;
        }
        .bottom {
            font-size: 20px;
            font-weight: 600;
            color: #27AE60!important;
        }
    }
}

.back-icon {
    position: absolute;
    left: 10px;
    top: 10px;
    color: black;
    font-size: 30px;
}

.list {
    padding: 5px 0px;
    display: flex;
    width: 100%;
    align-items: center;
    &:first-child {
        display: none!important;
    }
    .pic {
        position: relative;
        .profile {
            height: 40px;
            width: 40px;
            border-radius: 20px;
        }
        .badge {
            position: absolute;
            top: 25px;
            right: -10px;
            width: 30px;
        }
    }
    .body {
        margin-left: 20px;
        margin-top: 10px;
        .top {
            font-size: 15px;
            font-weight: 800;
            color: #202020 !important;
        }
        .bottom {
            font-size: 12px;
            font-weight: 600;
            color: #27AE60 !important;
            margin: 0px;
        }
    }
    .closing {
        flex: 1;
        text-align: right;
        ion-label {
            font-size: 16px;
            font-weight: 600;
            color: #2aaf5f;
        }
    }
}