<ion-content class="pg">
  <div class="page">
    <div class="bottomwave"></div>
    <div class="logo">
      <ion-img src="assets/svg/title.svg"></ion-img>
    </div>
    <div class="text-info mt-3">
      <h1>Welcome</h1>
      <label>Sign in to continue</label>
    </div>
    <div class="form-auth">
      <form [formGroup]="auth.fLogin" (ngSubmit)="auth.onLogin()">
        <div class="f-group f-margin">
          <ion-input class="no-border bg-light" type="text" placeholder="Username" formControlName="email"></ion-input>
        </div>
        <div class="f-group f-margin">
          <ion-input class="no-border bg-light" type="password" placeholder="Password" formControlName="password">
          </ion-input>
        </div>
        <div class="f-group f-margin">
          <ion-button type="submit" color="primary" class="masuk" expand="block" mode="ios">LOGIN</ion-button>
        </div>
        <div class="f-group f-margin">
          <ion-button fill="clear" class="masuk" expand="block" mode="ios" routerLink="/server-setting">
            Pengaturan Server</ion-button>
        </div>
      </form>
    </div>
    <div class="k-margin footer text-white"
      style="font-size: 12px;font-weight: bolder; color: #808080; margin-top: 20px;margin-bottom: 50px;">
      AIPOS SYSTEM &copy; DIENG CYBER
    </div>
  </div>
</ion-content>