.ion-color-mystic {
    --ion-color-base: #7d22b5!important;
    --ion-color-base-rgb: rgb(125, 34, 181 )!important;
    --ion-color-contrast: #fff!important;
    --ion-color-contrast-rgb: rgb(255, 255, 255) !important;
    --ion-color-shade: #7d22b5!important;
    --ion-color-tint: #7d22b5!important;
}
