<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Laporan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>TANGGAL</ion-label>
      <ion-label>{{dataAktivitas.tanggal}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>LEADS</ion-label>
      <ion-label>{{dataAktivitas.leads}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>TOTALAN</ion-label>
      <ion-label>{{dataAktivitas.totalan}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>CLOSING</ion-label>
      <ion-label>{{dataAktivitas.closing}}</ion-label>
    </ion-item>
    <ion-item *ngFor="let item of dataAktivitas.media" [color]="item.scheme">
      <ion-label>{{item.media}}</ion-label>
      <ion-label *ngFor="let it of item.produk">
        <ion-label>{{it.jumlah}} ({{it.nama_produk}})</ion-label>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>