<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="container">
    <div class="wrapper">
      <ion-img [src]="images.path" class="profile"></ion-img>
      <ion-button fill="clear" expand="block" color="success" (click)="selectImage()">
        <ion-icon slot="start" name="camera"></ion-icon>
        Pilih Gambar
      </ion-button>
      <ion-button expand="block" color="success" (click)="confirmAction()">
        SIMPAN
      </ion-button>
    </div>
  </div>
</ion-content>
