<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ubah Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="validatePassword" (ngSubmit)="ubahPassword()">
    <ion-list class="list-input">
      <ion-item>
        <ion-label position="stacked">Masukan password lama</ion-label>
        <ion-input type="password" formControlName="old"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Masukan password baru</ion-label>
        <ion-input type="password" formControlName="new"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Ulangi password baru</ion-label>
        <ion-input type="password" formControlName="confirm_new" [disabled]="!validatePassword.controls.new.valid">
        </ion-input>
      </ion-item>
      <ion-item
        *ngIf="validatePassword.controls.new.touched && validatePassword.controls.confirm_new.touched && validatePassword.hasError('notSame')"
        lines="none">
        <ion-text color="danger">
          Passwords do not match
        </ion-text>
      </ion-item>
    </ion-list>
    <div class="ion-padding">
      <ion-button mode="ios" expand="block" [disabled]="!validatePassword.valid" type="submit">Ubah Password
      </ion-button>
    </div>
  </form>
</ion-content>